body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #f8f9fa;
}


::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 0 25px #0d2c54;
}
::-webkit-scrollbar-thumb {
    background-color: #0d2c54;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: white;
    width: 50px;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.popup-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.popup-text {
  flex: 1;
  min-width: 220px;
}

.popup-image {
  flex-shrink: 0;
}

.popup-image img {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
}

.popup-content {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 30px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  animation: popupFade 0.5s ease;
  margin: 15px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup-content img {
  max-width: 50%;
  border-radius: 10px;
  margin-top: 15px;
}

.popup-content {
  max-height: 85vh; 
  overflow-y: auto;
}



@keyframes popupFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

h2.head-center {
  text-align: center;
}





.popup-acpc-text {
  text-align: right;
  direction: rtl;
  line-height: 1.7;
}
.popup-acpc-text a {
  text-decoration: none;
  color: blue;
}
.popup-acpc-text ul > a {
  margin-right: 10px;
  color: #155f99;
}
.popup-acpc-title {
  text-align: center;
  width: 100%;
}
.strong {
  text-align: left;
  direction: ltr;
}


.popup-acpc-image {
  text-align: center;
  width: 100%;
}



.popup-content::-webkit-scrollbar {
  width: 8px;
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: #0d2c54;
  border-radius: 4px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
  background-color: #0d2c54;
}











.heading {
  margin-bottom: 2rem;
  margin-top: 0rem;
  font-size: 7rem;
  text-align: center;
}

.container {
  background-color: #f8f9fa;
  max-width: 970px;
  margin: 50px auto;
  margin-top: 0;
  padding: 20px;

}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}


h2 {
  text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.4);
  color: #252e5c;
}

.section {
  background-color: #0d2c54;
  border: 1px solid #d0e7f3;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  /* min-height: 480px; */
}

.section h2 {
  color: white;
  text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.4);
  font-size: 27px;
  font-weight: 800;
}

.section p {
  color: #ddd;
  font-size: 13px;
  font-weight: 600;
  line-height: 2.4;
  margin: auto;
  padding-bottom: 20px;
}

.section img {
  margin-top: 15px;
  max-width: 100%;
  border-radius: 12px;
  max-width: 400px;
}

.section-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.section-text {
  flex: 1;
  min-width: 250px;
}

.section-image img {
  margin: auto;
  border-radius: 12px;
}
/* 
.secret-btn {
  margin-top: 15px;
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.secret-btn:hover {
  background-color: #00796b;
} */















@media (max-width: 991px) {
  /* .heading {
      font-size: 5rem;
    } */
}




@media (max-width: 767px) {
  .heading {
        font-size: 5rem;
    }
  h1  {
    font-size: 1.9rem;
  }
}


@media (max-width: 480px) {
  .popup-image img {
      width: 47%;
  }

  .heading {
      font-size: 4rem;
    }

  h1  {
    font-size: 1.5rem;
  }
}





















.bottom-glass {
    display: flex;
    align-items: center;
    justify-content:left;
}
.bottom-glass  {
    padding: 1.25rem 0.938rem;
    background-color: #de1b10;
    color: white;
    font-weight: bold;
    border: none;
    letter-spacing: 0.063rem;
    border-radius: 0.313rem;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 25px;
}
.bottom-glass:hover {
    background-color: white;
    color: #de1b10;
    box-shadow: 0 0 0.313rem white,
                0 0 1.563rem white,
                0 0 3.125rem white,
                0 0 12.5rem white;
    -webkit-box-reflect: below 0.125rem linear-gradient(transparent, #0005)
}